.happy_clients-wrapper {
    background: #0B7572;
    padding: 80px;
    display: flex;
    margin-bottom: 88px;

    h1 {
        color: var(--white, #FFF);
        font-family: Exo 2;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
    }

    ul {
        list-style-type: none;
    }

    .list_body1 {
        display: flex;

        & .li_g1 {
            min-width: 110.19px;
            padding: 24px 16px;
            border-right: 1px solid rgba(0, 0, 0, 0.20);
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        }

        & .li_g2 {
            max-width: 142px;
            padding: 24px 16px;
            border-right: 1px solid rgba(0, 0, 0, 0.20);
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);

            & p {
                color: var(--additional-font, #6B6B6C);
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%;
                margin-bottom: 10px;
            }

            & strong {
                color: var(--main-font, #363738);
                font-family: Exo 2;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
            }
        }

        & .li_g3 {
            max-width: 188px;
            padding: 24px 16px;
            border-right: 1px solid rgba(0, 0, 0, 0.20);
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);

            & strong {
                color: var(--main-font, #363738);
                font-family: Exo 2;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
                margin-bottom: 10px;
            }

            & p {
                color: var(--additional-font, #6B6B6C);
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%;
                margin-bottom: 10px;
            }
        }

        & .li_g4 {
            min-width: 110.19px;
            padding: 24px 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);

            & strong {
                color: var(--main-font, #363738);
                font-family: Exo 2;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
                margin-bottom: 10px;
            }

            & p {
                color: var(--additional-font, #6B6B6C);
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%;
                margin-bottom: 10px;
                margin-top: 12px;
            }

            & span {
                color: var(--main-font, #363738);
                font-family: PT Sans;
                font-size: 11px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
            }
        }
    }

    .list_body2 {
        display: flex;

        & .li_g1 {
            min-width: 110.19px;
            padding: 24px 16px;
            border-right: 1px solid rgba(0, 0, 0, 0.20);
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        }

        & .li_g2 {
            max-width: 142px;
            padding: 24px 16px;
            border-right: 1px solid rgba(0, 0, 0, 0.20);
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);

            & p {
                color: var(--additional-font, #6B6B6C);
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%;
                margin-bottom: 10px;
            }

            & strong {
                color: var(--main-font, #363738);
                font-family: Exo 2;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
            }
        }

        & .li_g3 {
            max-width: 188px;
            padding: 24px 16px;
            border-right: 1px solid rgba(0, 0, 0, 0.20);
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);

            & strong {
                color: var(--main-font, #363738);
                font-family: Exo 2;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
                margin-bottom: 10px;
            }

            & p {
                color: var(--additional-font, #6B6B6C);
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%;
                margin-bottom: 10px;
            }
        }

        & .li_g4 {
            min-width: 110.19px;
            padding: 24px 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);

            & strong {
                color: var(--main-font, #363738);
                font-family: Exo 2;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
                margin-bottom: 10px;
            }

            & p {
                color: var(--additional-font, #6B6B6C);
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%;
                margin-bottom: 10px;
                margin-top: 12px;
            }

            & span {
                color: var(--main-font, #363738);
                font-family: PT Sans;
                font-size: 11px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
            }
        }
    }

    .list_body3 {
        display: flex;

        & .li_g1 {
            min-width: 110.19px;
            padding: 24px 16px;
            border-right: 1px solid rgba(0, 0, 0, 0.20);
        }

        & .li_g2 {
            max-width: 142px;
            padding: 24px 16px;
            border-right: 1px solid rgba(0, 0, 0, 0.20);

            & p {
                color: var(--additional-font, #6B6B6C);
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%;
                margin-bottom: 10px;
            }

            & strong {
                color: var(--main-font, #363738);
                font-family: Exo 2;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
            }
        }

        & .li_g3 {
            max-width: 188px;
            padding: 24px 16px;
            border-right: 1px solid rgba(0, 0, 0, 0.20);

            & strong {
                color: var(--main-font, #363738);
                font-family: Exo 2;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
                margin-bottom: 10px;
            }

            & p {
                color: var(--additional-font, #6B6B6C);
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%;
            }
        }

        & .li_g4 {
            min-width: 110.19px;
            padding: 24px 16px;

            & strong {
                color: var(--main-font, #363738);
                font-family: Exo 2;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
                margin-bottom: 10px;
            }

            & p {
                color: var(--additional-font, #6B6B6C);
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%;
                margin-bottom: 10px;
                margin-top: 12px;
            }

            & span {
                color: var(--main-font, #363738);
                font-family: PT Sans;
                font-size: 11px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
            }
        }
    }

    & .list {
        background: #FFFFFF;
        padding: 30px 40px;

        &_header {
            display: flex;
            justify-content: space-between;
            padding-bottom: 32px;
            border-bottom: 1px solid #D7D7DD;
            margin-bottom: 32px;

            & p {
                width: 275px;
                color: var(--additional-font, #6B6B6C);
                font-family: PT Sans;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                height: 41px;
            }
        }

        &_body {

            &-header {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                padding: 4px 0;

                & li {
                    height: 40px;
                    padding: 0 36px;
                    background: #0B7572;
                    display: flex;
                    align-items: center;
                    color: var(--white, #FFF);
                    font-family: Exo 2;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                }

                & li:nth-child(1) {
                    border-right: 1px solid rgba(0, 0, 0, 0.20);
                    ;
                }

                & li:nth-child(2) {
                    border-right: 1px solid rgba(0, 0, 0, 0.20);
                    ;
                }

                & li:nth-child(3) {
                    border-right: 1px solid rgba(0, 0, 0, 0.20);
                    ;
                }
            }
        }
    }

    .sm_list {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .happy_clients-wrapper {
        background: #0B7572;
        padding: 80px;
        display: flex;
        flex-direction: column;
    }

    h1 {
        color: var(--white, #FFF);
        font-family: Exo 2;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        width: 330px;
    }

    .sm_list {
        display: none;
    }
}

@media only screen and (max-width: 920px) {
    .sm_list {
        display: block !important;
        background: #FFFFFF;
        padding: 24px 16px;

        .list_body1 {
            display: flex;
            flex-direction: column;

            .li1_g1 {
                border-right: none !important;
            }

            .li_g2 {
                width: 100% !important;
            }

            .li_g3 {
                width: 100% !important;
            }
        }
    }

    .list {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .happy_clients-wrapper {
        background: #0B7572;
        padding: 32px 16px;
        display: flex;
        flex-direction: column;
    }

    h1 {
        color: var(--white, #FFF);
        font-family: Exo 2;
        font-size: 28px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        /* 35px */
    }
}